# Copia este archivo como ".env" y pega tu cadena de conexión real de Neon
DATABASE_URL=postgresql://neondb_owner:npg_aXZwMGY8zi6L@ep-super-wildflower-axuiha01-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
